@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.btn-secondary {
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700;
}

.btn-primary {
  @apply bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700;
}

.outline-icon {
  @apply border border-gray-300 text-gray-300 hover:border-white hover:text-white;
}

/* Adjust Owl Carousel */
.owl-carousel .owl-item img {
  width: 100%;
  height: auto;
}

.navbar-transition {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-light {
  background-color: white;
}
